<nav class="navbar navbar-default" role="navigation">
    
        <div class="navbar-header navbar-brand logo">
                <span>Employee Dashboard</span> 
            
        </div>
        <div class="navbar-collapse"  ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-switch-when="true">
                	<a ui-sref="employee" >
                	<span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                	<span>Employees</span>
               		</a>
               	</li>
                <li ui-sref-active="active" ng-switch-when="true">
                	<a ui-sref="stats" >
                	<span class="glyphicon glyphicon-scale"></span>&nbsp;
                	<span>Stats</span>
               		</a>
               	</li>
                <li ui-sref-active="active" ng-switch-when="true">
                	<a ui-sref="profile" >
                	<span class="glyphicon glyphicon-user"></span>&nbsp;
                	<span>Profile</span>
               		</a>
               	</li>
                <li ng-switch-when="false">
                    <a href="" ng-click="vm.login()">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                        <span class="hidden-sm">Admin</span>&nbsp;
                    </a>
                </li>
                <li ng-switch-when="true">
                    <a href="" ng-click="vm.logout()" id="logout">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                        <span>Sign out</span>&nbsp;
                    </a>
                </li>
            </ul>
        </div>
   
</nav>
