<h3>Stats</h3>
<div class="well">
	<div class="row">
	<div class="col-md-4">Total Number of Employees</div>
	<div class="col-md-8">{{vm.stats.countAll}}</div>
	</div>
</div>
<h4>Employees by Gender</h4>
<div class="well">
	<div class="row" ng-repeat="(key, value) in vm.stats.countByGender">
	<div class="col-md-4">{{lookups.genderObj[key]}}</div>
	<div class="col-md-8">{{value}}</div>
	</div>
</div>
<h4>Employees by Race</h4>
<div class="well">
	<div class="row" ng-repeat="(key, value) in vm.stats.countByRace">
	<div class="col-md-4">{{lookups.raceObj[key]}}</div>
	<div class="col-md-8">{{value}}</div>
	</div>
</div>
<h4>Employees by Position</h4>
<div class="well">
	<div class="row" ng-repeat="(key, value) in vm.stats.countByPosition">
	<div class="col-md-4">{{lookups.positionObj['k'+key]}}</div>
	<div class="col-md-8">{{value}}</div>
	</div>
</div>
<h4>Employees Birthdays this Month</h4>
<div class="well">
	<div class="row" ng-repeat="employee in vm.stats.birthDaysThisMonth">
	<div class="col-md-12">{{employee.user.first_name}} {{employee.user.last_name}}</div>
	
	</div>
</div>
